@import "variables.less";
@import "mixins.less";

@font-face {
    font-family: 'WRoya';
    src: url('../fonts/RoyaWeb-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'WRoya';
    src: url('../fonts/RoyaWeb-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

body {
    direction: rtl;
    font-family: 'WRoya';
}
// Global Styles

// Wrappers

@media(min-width:768px) {
    #page-wrapper {
        margin: 0 250px 0 0;
        border-right: 1px solid darken(@gray-lightest, 6.5%);
        border-left: 0;
        padding: 0 10px;
    }
}

// Navigation

// --Topbar
.navbar {
    background-color: #605CA8;
    a, .navbar-brand {
        color: #fff;
    }
    .active a, .active, a:hover {
        background-color: #605CA8 !important;
    }
    .sidebar {
        background-color: #545096;
    }
}

.navbar-top-links {
    margin-left: 0;
}

.navbar-top-links li:last-child {
    margin-left: 15px;
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-left: 0;
}

.navbar-top-links .dropdown-messages {
    margin-right: 5px;
    margin-left: 0;
}

.navbar-top-links .dropdown-tasks {
    margin-right: -59px;
    margin-left: 0;
}

.navbar-top-links .dropdown-alerts {
    margin-right: -123px;
    margin-left: 0;
}

.navbar-top-links .dropdown-user {
    left: 0;
    right: auto;
}

// --Sidebar

.sidebar .arrow {
    float: left;
}

.sidebar .nav-second-level li a {
    padding-right: 37px;
    padding-left: 0;
}

.sidebar .nav-third-level li a {
    padding-right: 52px;
    padding-left: 0;
}

@media(min-width:768px) {
    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-right: auto;
    }
}

// Buttons

// Chat Widget

.chat li.left .chat-body {
    margin-right: 60px;
    margin-left: 0;
}

.chat li.right .chat-body {
    margin-left: 60px;
    margin-right: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-left: 5px;
    margin-right: 0;
}

// Login Page

// Flot Charts Containers

// DataTables Overrides

table.dataTable thead .sorting_asc:after {
    float: left;
}

table.dataTable thead .sorting_desc:after {
    float: left;
}

table.dataTable thead .sorting:after {
    float: left;
}

// Circle Buttons 

// Grid Demo Elements

// Custom Colored Panels